<app-admin-layout>
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-md mx-auto mt-[5rem] text-[1.2rem]"
  [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <h1 class="capitalize text-[2rem] font-bold text-center mb-4">sản phẩm</h1>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="code">
        Code sản phẩm
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="code"
        type="text" formControlName="productCode"
      />
      @if(!productForm.get('productCode')?.valid && productForm.get('productCode')?.touched) {<span class="text-red-500 mt-[1rem]">Phải nhập tên sản phẩm</span>}
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="name">
        Tên sản phẩm
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="name"
        type="text" formControlName="productName"
      />
      @if(!productForm.get('productName')?.valid && productForm.get('productName')?.touched) {<span class="text-red-500">Phải nhập tên sản phẩm</span>}
      @if((productForm.get('productName')?.value).toString().trim().toLowerCase().includes("hàng trắng") || (productForm.get('productName')?.value).toString().trim().toLowerCase().includes("ma túy"))
      {<span class="text-red-500 mt-[1rem]">Tên sản phẩm không được chứa "hàng trắng" hoặc "ma túy"</span>}
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="description">
        Mô tả
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="description"
        type="text"  formControlName="description"
      />
      @if(!productForm.get('description')?.valid && productForm.get('description')?.touched) {<span class="text-red-500">Phải nhập mô tả sản phẩm</span>}
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="price">
        Giá sản phẩm
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="price"
        type="number"  formControlName="price"
      />
      @if(!productForm.get('price')?.valid && productForm.get('price')?.touched) {<span class="text-red-500 mt-[1rem]">Phải nhập giá sản phẩm</span>}
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="rating">
        Đánh giá
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="rating"
        type="number"  formControlName="starRating"
      />
      @if(!productForm.get('starRating')?.valid && productForm.get('starRating')?.touched) {<span class="text-red-500 mt-[1rem]">Phải nhập đánh giá sản phẩm</span>}
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="image">
        Ảnh sản phẩm
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="image"
        type="text"  formControlName="imageUrl"
      />
      @if(!productForm.get('imageUrl')?.valid && productForm.get('imageUrl')?.touched) {<span class="text-red-500 mt-[1rem]">Phải nhập ảnh sản phẩm</span>}
    </div>
    <div class="flex items-center justify-between">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit"
      >
        Thêm sản phẩm
      </button>
      <a
        class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
        routerLink="/"
      >
        Về trang chủ
      </a>
    </div>
  </form>
</app-admin-layout>
