<main class="container mx-auto mt-[5rem]">
  <h1 class="text-[3rem] text-center font-bold">Nguyễn Đinh Tiến Điền - lab 5</h1>
  <ul class="flex justify-center items-center mx-auto capitalize mt-[2rem] text-[1.6rem] gap-[2rem]">
    <li>
      <a routerLink="admin">admin</a>
    </li>
    <li>
      <a routerLink="admin/login">login</a>
    </li>
    <li>
      <a routerLink="admin/product">product</a>
    </li>
  </ul>

</main>
