<app-admin-layout>

  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-md mx-auto mt-[5rem]" action="" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
    <h1 class="capitalize text-[2rem] font-bold text-center mb-4">đăng nhập</h1>
    <div class="mb-4 text-[1.4rem]">
      <label class="block text-gray-700 font-bold mb-2 capitalize" for="username">
        tài khoản
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="username"
        type="text"
        placeholder="Enter your username" [(ngModel)]="userData.username" required minlength="6" #user="ngModel" name="user"
      />
      @if(!user?.valid && (user?.dirty || user?.touched)) {<span class="text-[1.2rem] mt-2 text-[red]">Email không hợp lệ</span>}
    </div>
    <button
      class="bg-amber-500 hover:bg-amber-700 text-white font-bold py-2 px-4 mb-1 rounded focus:outline-none focus:shadow-outline"
      type="button" (click)="suggest()"
    >
      Tên đề xuất
    </button>
    <div class="mb-4 text-[1.4rem]">
      <label class="block text-gray-700 font-bold mb-2 capitalize" for="password">
        mật khẩu
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="password"
        type="password"
        placeholder="Enter your password" [(ngModel)]="userData.password" required minlength="6" #password="ngModel" name="password"
      />
      @if(!password?.valid && (password?.dirty || password?.touched)) {<span class="text-[1.2rem] mt-2 text-[red]">Mật khẩu không hợp lệ</span>}
    </div>
    <div class="flex items-center justify-between">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit"
      >
        Đăng Nhập
      </button>
      <a
        class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
        href="#"
      >
        Forgot Password?
      </a>
    </div>
  </form>

  <a routerLink="/" class="rounded bg-[#fff] text-[#FF6347] text-center block w-max text-[1.6rem] mx-auto mt-[2rem]
  px-[1.5rem] py-[.5rem] hover:text-[#fff] hover:bg-[#FF6347] capitalize">Về trang chủ</a>

</app-admin-layout>
